@media (min-width: 800px) {
    .heading {
        font-size: 3rem;
        text-align: left;
        margin-left: 60px;
    }

    .company-name {
        font-size: 20px;
    }

    .logo img {
        max-width: 45px;
    }

    .navbar {
        display: block;
        position: static;
        background: none;
        padding: none;
    }

    .navbar .link {
        display: inline-flex;
    }

    .gone {
        display: inline-block;
    }

    .link-us {
        margin-left: 20px;
    }

    .currency-login {
        transform: none;
    }

    /* main content secction */
    .main-hero {
        flex-direction: row;
    }

    .property-stats {
        width: 65%;
        justify-content: center;
    }

    .house-info {
        font-size: 1.4rem;
    }

    .stats .small-p {
        font-size: 10.5px;
    }

    .stats .big-p {
        font-size: 14px;
    }

    .stats i {
        font-size: 16px;
    }

    #menu-check, 
    .menu {
        display: none;
    }
}