@import url('import/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    scroll-behavior: smooth;
}

*::before,
*::after {
    box-sizing: border-box;
}

main {
    background: #FBEDE0;
    background: linear-gradient(314deg,
            rgba(251, 237, 224, 1) 0%,
            rgba(229, 232, 225, 1) 50%,
            rgba(207, 237, 234, 1) 100%);
    color: var(--main-color);
}

.main-font {
    font-family: "Bodoni Moda SC", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

.gone {
    display: none;
}

a {
    color: var(--main-color);
}

/* Header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 15px;
}

.logo img {
    max-width: 45px;
}

.company-name {
    font-size: 20px;
}

.company-name span {
    color: #6A6968;
}

.navbar .link {
    display: inline-flex;
    margin-right: 15px;
}

.link-us {
    margin-left: 20px;
}

.currency-login {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 7px;
}

.currency,
.option {
    padding: 5px;
    background: var(--sec-color);
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}

.login {
    background: var(--main-color);
    color: var(--sec-color);
    padding: 5.5px 9px;
    border-radius: 20px;
    font-size: 13.3px;
}


/* main content section */
/* Mansion detail section */
.main-content {
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    margin: 0 40px;
}

.mansion img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.search-description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    position: relative;
    color: #cccccc;
    display: flex;
}

.search-bar input {
    background: var(--sec-color);
    width: 382px;
    font-size: 15px;
    padding: 0.6rem;
    padding-left: 1.5rem;
    border: 1px solid rgb(204, 204, 204, 0.5);
    border-radius: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: #cccccc;
}

.search-bar i {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 22px;
}

.search-bar input:focus+i {
    opacity: 0;
    pointer-events: none;
}

.search-bar i {
    transition: opacity 0.2s ease;
}

.description {
    width: 100%;
    height: 468px;
    background: var(--sec-color);
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
}

.street-save {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.street {
    margin-top: 15px;
}

.street p {
    display: flex;
    flex-direction: column;
    color: #8a8a8a;
    font-size: 14.5px;
}

.street-save i {
    font-size: 20px;
}

.house-info {
    display: flex;
    justify-content: space-between;
}

.house-info {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 15px 0px;
}

.text-info {
    font-size: 13px;
    color: var(--sec-text-color);
    font-weight: normal;
}

.price-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 15px 0;
}

.option {
    padding: 3px;
    border: 1px solid #cccccc;
}

.price {
    font-size: 1.5rem;
    font-weight: 500;
}

.selger-profile {
    background: #eeeeee;
    width: 100%;
    height: 166px;
    margin: 10px 0;
    border-radius: 15px;
    padding: 20px 10px;
}

.selger-type {
    color: #8a8a8a;
    font-size: 11.5px;
    text-align: right;
    margin-right: 10px;
}

.profile {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 10px;
    transform: translateY(-10px);
}

.profile-pic {
    width: 91px;
    height: 86px;
    background: red;
    border-radius: 50%;
}

.profile-text {
    font-size: 9px;
    font-weight: 300;
    width: 150px;
}

.profile-name {
    font-size: 14.5px;
    margin: 5px 0 0 10px;
    transform: translateY(-5px);
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
}

.btn {
    font-size: 12.5px;
    background: var(--main-color);
    color: var(--sec-color);
    padding: 7px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.small-btn-text {
    font-size: 10px;
}

/* Property search section */
.property-stats {
    background: var(--sec-color);
    width: 100%;
    height: 97px;
    margin: 25px 0;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 10px;
    padding: 25px 20px;
    overflow-x: scroll;
}

.stats {
    display: flex;
    align-items: center;
    gap: 11px;
    background: var(--sec-color);
    border: 1px solid #cccccc;
    border-radius: 25px;
    padding: 15px;
}

.stats .small-p {
    font-size: 10.5px;
    color: #8a8a8a;
}

.stats .big-p {
    font-size: 14px;
}

/* footer section */
footer {
    text-align: center;
    padding: 40px;
    margin-top: 30px;
}

footer p {
    font-size: 14px;
    letter-spacing: 3px;
}

@media (min-width: 800px) {
    .heading {
        font-size: 3rem;
        text-align: left;
        margin-left: 60px;
    }

    .gone {
        display: inline-block;
    }

    /* main content secction */
    .main-hero {
        flex-direction: row;
    }

    .property-stats {
        width: 65%;
        justify-content: center;
    }

    .house-info {
        font-size: 1.6rem;
    }
}