@import url('import/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

*::before,
*::after {
    box-sizing: border-box;
}

main {
    background: #FBEDE0;
    background: linear-gradient(314deg, 
    rgba(251, 237, 224, 1) 0%, 
    rgba(229, 232, 225, 1) 50%, 
    rgba(207, 237, 234, 1) 100%);
    color: var(--main-color);
}

.main-font {
    font-family: "Bodoni Moda SC", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.heading {
    font-weight: 400;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 20px;
}

a {
    color: var(--main-color);
}

/* Header section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 30px;
}

.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 15px;
}

.logo img {
    max-width: 45px;
}

.company-name {
    font-size: 20px;
}

.company-name span {
    color: #6A6968;
}

.navbar .link {
    display: inline-flex;
    margin-right: 15px;
}

.link-us {
    margin-left: 20px;
}

.currency-login {
    display: flex;
    align-items: center;
    margin-right: 20px;
    gap: 7px;
}

.currency {
    padding: 5px;
    background: var(--sec-color);
    border: 1px solid;
    border-radius: 20px;
    display: flex;
    cursor: pointer;
}

.login {
    background: var(--main-color);
    color: var(--sec-color);
    padding: 5.5px 9px;
    border-radius: 20px;
    font-size: 13.3px;
}


/* main content section */
.main-content {
    margin: 10px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-hero {
    display: flex;
    flex-direction: column-reverse;
    gap: 15px;
    margin: 0 40px;
}

.mansion img{
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.search-description {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.search-bar {
    position: relative;
    color: #cccccc;
    display: flex;
}

.search-bar input {
    width: 382px;
    font-size: 15px;
    padding: .6rem;
    padding-left: 1.5rem;
    border: 1px solid rgb(204, 204, 204, 0.5);
    border-radius: 25px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

input::placeholder {
    color: #cccccc;
}

.search-bar i {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 22px;
}

.description {
    width: 100%;
    height: 468px;
    background: var(--sec-color);
    border-radius: 20px;
    margin-top: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

.street-save {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.street {
    margin: 15px 0 0 30px ;
}
.street p {
    display: flex;
    flex-direction: column;
    color: #8a8a8a;
}

.street-save i {
    font-size: 20px;
    margin-right: 30px;
}

.property-stats {
    background: var(--sec-color);
    width: 100%;
    height: 97px;
    margin: 25px 0;
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}

@media (min-width: 800px) {
    .heading {
        font-size: 3rem;
        text-align: left;
        margin-left: 60px;
    }
    /* main content secction */
    .main-hero {
        flex-direction: row;
    }

    .property-stats {
        width: 85%;
    }
}